nav{
    display: flex;
    background-color: brown;
    padding: 20px;
    justify-content: space-between;
    width: 97%;
    position: fixed;
    bottom: 0;
    margin-right: 200px;
    margin-bottom: 10px;
}

.right,.left{
    display: flex;
    align-items: center;
}

.left a{
    margin-left: 40px;
}

.right a{
    margin-left: 25px;
}

.container,button{
    font-size:1.2rem;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

.left a:hover{
    background-color: lightcyan;
    color: blue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    font-weight: bold;
}

button{
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}