table,tr,td,th{
    border: 5px solid black;
    border-collapse: collapse;
}
img{
    height: 400px;
    width: 600px;
    /* padding: 20px; */
    margin: 30px;
    border-radius: 50px;
    box-shadow: 1px 1px 30px red;
}
h1{
    padding-left: 45%;
    text-shadow: 1px 10px 10px black;
}
h1::after,h1::before{
    content: "****";
}
tr:first-child{
    background-color: darkcyan;
    font-size: 2rem;
    font-style: italic;
    color: whitesmoke;
    
}
p{
    text-align: justify;
    padding: 50px;
    text-indent: 50px;
    font-size: 1.2rem;
}
p::selection{
    background-color: violet;
    color:whitesmoke;
    text-shadow: 4px 1px 10px black;
}

tr:hover{
    background-color: brown;
    color: whitesmoke;
    
}

tr:hover th{
    font-size: 3rem;
}

tr:nth-child(even) p,tr:nth-child(odd) p{
    background-color: orange;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;

}