nav{
    display: flex;
    background-color: brown;
    padding: 20px;
    justify-content: space-between;
}
.left{
    margin-top: auto;
    margin-bottom: auto;
}
.left a{
    margin-left: 40px;
}
.right a{
    margin-right: 20px;
}
.container,button{
    font-size:1.2rem;
}

a{
    color: whitesmoke;
    text-decoration: none;
}
.left a:hover{
    background-color: lightcyan;
    color:blue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

button{
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}